@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: 'Inter';
  @apply bg-main-black;
}

.bg-dark-gradient {
  background: linear-gradient(180deg, rgb(26, 26, 26), rgb(19, 19, 19) 100%);
}

.button-shadow {
  box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.15),
    inset 0px 2px 4px 0px rgba(255, 255, 255, 0.08),
    inset 0px 1px 2px 0px rgba(255, 255, 255, 0.02);
}
